:root{
    --background-default: #F5F4F0;
    --border-primary: #D9D9D9;

    --text-primary: #1B1B1B;
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --text-headline: #E1624F;

    --accent-blue: #0C51A7;
    --accent-orange: #E95E10;
    --accent-pink: #E5245E;
    --accent-purple: #591B98;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: var(--background-default);
}

#home{
    margin-top: 88px;
    margin-left: 80px;
    margin-right: 80px;
}

h4{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--text-headline);
}

h1{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 44px;
    color: var(--text-primary);
}

#img-description{
    width: 1360px;
    height: 960px;
    border-radius: 28px;
}

#description{
    margin-top: 24px;
    font-size: 16px;
    font-style: italic;
    color: var(--text-secondary);
    text-align: center;
    padding-bottom: 44px;
    border-bottom: var(--border-primary) 2px solid;
    margin-bottom: 64px;
}

#main {
    margin-left: 80px;
    margin-right: 80px;
}

h2{
    margin-top: 2px;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 8px;
}

#text{
    color: var(--text-secondary);
    font-size: 16px;
}

#img-list{
    width: 1360px;
    height: 560px;
    border-radius: 28px;
}

#list-main{
    color: var(--text-primary);
    font-size: 28px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 4px;
}

#list-secondary{
    color: var(--text-secondary);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 48px;

    & #historia{ 
        margin-left: 30px;
        list-style: disc;
        color: var(--accent-blue);
    }

    & #casais{
        margin-left: 30px;
        list-style: disc;
        color: var(--accent-purple);
    }

    & #familias{
        margin-left: 30px;
        list-style: disc;
        color: var(--accent-pink);
    }

    & #orcamento{
        margin-left: 30px;
        list-style: disc;
        color: var(--accent-orange);
    }
}

#footer{
    margin-left: 80px;
    margin-right: 80px;
}

#description-footer{
    font-size: 16px;
    font-style: italic;
    color: var(--text-secondary);
    text-align: center;
    padding-bottom: 44px;
    border-top: var(--border-primary) 2px solid;
    padding-top: 40px;
    margin-bottom: 65px;
}
